body {
  font-family: Brutal, sans-serif;
  font-weight: bold;
}
div.stats {
  border: 0.75vw inset;
  width: fit-content;
  padding: 0.25vw;
  margin: 1.25;
  border-radius: 2.5px;
  background-color: rgba(143, 143, 143, 0.459);
}
div.upgrades {
  border: 0.75vw inset;
  width: fit-content;
  padding-right: 5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 0.5vw;
  border-radius: 2.5;
  margin: 1vw;
  margin-left: 0px;
  background-color: rgba(143, 143, 143, 0.459);
}
.upgrade {
  margin-top: 1vw;
}
#countReward {
  float: right;
  display: inline-block;
}
.giftIcon {
  display: inline-block;
}
